      <table class="table">
        <tbody>
        <% @users.each do |user| %>
         <tr>
          <td>
           <%= image_tag user.get_profile_image(100,100) %>
           </td>
          <td><%= user.name %></td>
          <td><%= link_to "削除",admin_user_path(user.id), method: :delete, class: "btn btn-sm btn-danger" %> </td>
          <!--アソシエーションのエラーが起きたがUser modelを見たら全角スペースが入っていたコードをしっかり確認！！-->
         </tr>
         <% end %>
        </tbody>
      </table>