<footer class="bg-light text-center text-white">
  <div class="text-center bg-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <p class= "text-white">© 2022 snowman:snowman.com</p>
  </div>
</footer>
